<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bookly</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a2f02755e4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body>
    <section class="sideBar">
      <section class="profileArea">
        <img src="images/headshot copy.jpeg" alt="profile picture" class="profilePicture"/>
        <p class="profileName">Daniel</p>
        <p class="profileAddress">dan.jkim21@gmail.com</p>
      </section>
      <nav class="navContent">
        <ul class="navList">
          <li class="navListItems"><a href="#">Search</a></li>
          <li class="navListItems active"><a href="#">Books</a></li>
          <li class="navListItems"><a href="#">Settings</a></li>
        </ul>
      </nav>
    </section>

    <main class="appDisplayArea">
      <section class="playlistInfoArea flexBox">
        <h1 class="appTitle">Books Playlist</h1>
        <button class="addBookBtn">Add Book</button>
      </section>
      <p class="playlistDescription">Playlist description</p>

      <section class="bookPlaylistArea">
        <section class="bookItem flexBox">
          <img src="" alt="book cover image" class="bookCoverImage" />
          <section class="bookInfo">
            <p class="bookTitle">Book Name</p>
            <p class="bookAuthor">Book Author</p>
          </section>
          <button class="editBookItemBtn">Edit</button>
        </section>

    </main>

    <script src="/js/main.js"></script>
  </body>
</html>
