/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* General FlexBox Class Setup */
.flexBox {
  display: flex;
}
html {
  font-family: 'open sans', Arial, Helvetica, sans-serif;
}

/* Buttons */
.addBookBtn {
  background-color: #ffffff;
  color: #254129;
  font-weight: 600;
  padding: 0.65rem 1.05rem;
  border: none;
  border-radius: 20px;
}
.editBookItemBtn {
  background-color: #668a6e;
  color: #ffffff;
  font-size: 0.85rem;
  padding: 0.35rem 1.55rem;
  border: 1px solid #ffffff;
  border-radius: 20px;
  text-decoration: none;
}
/* Popup Modals */
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper a {
  display: inline-block;
  text-decoration: none;
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  height: 50vh;
  background: #6b8771;
  padding: 1em 2em;
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/
/* general layout styling */
body {
  background-color: #668a6e;
  color: white;
}
/* sideBar Area styling */
.sideBar {
  width: 25vw;
  margin: 0;
  padding: 3rem 2.5rem 2.5rem 2.5rem;
  position: fixed;
  height: 100%;
  overflow: auto;
  /* border: 1px solid red; */
}
.profilePicture {
  height: 95px;
  width: 95px;
  border-radius: 6px;
}
.profileName {
  font-size: 1.05rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.profileAddress {
  color: #bbc1bb;
  margin-top: 0.5rem;
}
.navList {
  margin: 0;
  padding: 3rem 0 0 0;
}
.navListItems {
  display: block;
  padding-bottom: 0.5rem;
}
.navListItems > a {
  font-size: 1.75rem;
  font-weight: 600;
  color: #bbc1bb;
  text-decoration: none;
  transition: all ease-in-out 100ms;
}
.navListItems.active > a {
  color: white;
}

/* appDisplayArea styling */
.appDisplayArea {
  width: 75vw;
  margin-left: 25vw;
  padding: 3.5rem 3.5rem 3.5rem 2.5rem;
  height: 1000px;
  /* border: 1px solid red; */
}
.playlistInfoArea {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.playlistDescription {
  color: #d4dbd5;
}
.bookPlaylistArea {
  padding-top: 2rem;
}
.bookItem {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbc1bb;
}
.bookTitle {
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.bookAuthor {
  color: #bbc1bb;
  margin-top: 0.25rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Transitions & Animations */
.navListItems > a:hover {
  color: white;
}
.addBookBtn {
  cursor: pointer;
}
.editBookItemBtn {
  cursor: pointer;
}
