/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* General FlexBox Class Setup */
.flexBox {
  display: flex;
}
html {
  font-family: 'open sans', Arial, Helvetica, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
/* general layout styling */
body {
  background-color: #668a6e;
  color: white;
}
/* sideBar Area styling */
.sideBar {
  width: 33.3333vw;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100%;
  overflow: auto;
  border: 1px solid red;
}
.profileName {

}
.profileAddress {
  color: #bbc1bb;
}
.navList {
  display: inline;
}
.navListItems > a {
  font-size: 2rem;
  color: #bbc1bb;
  text-decoration: none;
}

/* appDisplayArea styling */
.appDisplayArea {
  width: 66.6667vw;
  margin-left: 33.3333vw;
  padding: 1px 16px;
  height: 1000px;
  border: 1px solid red;
}
.playlistInfoArea {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.bookItem {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbc1bb;
}
.bookTitle{

}
.bookAuthor {
  color: #bbc1bb;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
